p{
    text-align: center;
    padding: 10px;

}

.row{
    margin-right: 0px;
    margin-left: 0px;
    
}
.about{
    background-color: grey;
    
}

.author{
    background-image: url("Teams.jpg");
    height: 150px;
    text-align: center;
    padding: 20px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
  }
  
  .bg-image {
    background-image: url("background-blog.jpg");
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer{
      text-align: center;
      
  }

  

  